# Final Project â€“ Introduction to Data Science

## Introduction  
This notebook contains key elements of data science, including the most commonly used languages, libraries, tools, and basic examples of arithmetic operations in Python.

## Data Science Languages  
1. Python  
2. R  
3. SQL  
4. Julia  
5. Scala

## Common Data Science Libraries  
- NumPy  
- pandas  
- Matplotlib  
- Seaborn  
- Scikit-learn  
- TensorFlow  
- PyTorch

## Data Science Tools  

| Tool              | Description                          |
|-------------------|--------------------------------------|
| Jupyter Notebook  | Interactive programming environment  |
| GitHub            | Version control and collaboration    |
| Tableau           | Data visualization tool              |
| Excel             | Basic data analysis                  |
| Google Colab      | Cloud-based notebooks                |

## Arithmetic Expressions Examples  
- Addition: 5 + 3  
- Subtraction: 10 - 4  
- Multiplication: 6 * 7  
- Division: 20 / 5

In [4]:
#Some arithmetic operations
a = 5
b = 3
c = 9
d = 9
result = (a * b) + 10
result1 = c*d
print("The result is:", result)
print("The result is:", result1)

The result is: 25
The result is: 81

In [2]:
#Mathematical operation to convert minutes to hours
minutes = 498
hours = minutes / 60
print("498 minutes equals", hours, "hours")

498 minutes equals 8.3 hours

In [5]:
#Some ordered objectives are shown#
objectives = [
    "Learn the fundamentals of data science",
    "Explore popular tools and languages",
    "Perform basic operations in Python"
]

for i, obj in enumerate(objectives, 1):
    print(f"Objective {i}: {obj}")

Objective 1: Learn the fundamentals of data science
Objective 2: Explore popular tools and languages
Objective 3: Perform basic operations in Python

### Author  
*Fernando Alquinta Barco:* Data Science Student